#root {
  padding: 64px;
}

@media (max-width: 600px) {
  #root {
    padding: 16px;
  }
}

/* preview */
#preview-root {
  display: flex;
  flex-wrap: wrap;
}

.preview-item {
  display: flex;
  flex: 1;
}

.preview-item:hover {
  cursor: pointer;
  background: #fafafa;
}

.preview-item-chart {
  display: grid;
  grid-template: "one";
  align-items: center;
  justify-content: center;
}

.preview-item-chart > * {
  grid-area: one;
  font-size: 10px;
  font-weight: 900;
  margin: 12px 0 0 0;
}

.preview-item-chart > p {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin: 16px 0 0 0;
}

.preview-item-chart > *:nth-child(1) {
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
}

.preview-item-description {
  margin: auto 8px;
  width: 240px;
}

.preview-item-description > h5 {
  color: #133b6b;
}

.preview-item-description p {
  font-size: 16px;
}

@media (max-width: 600px) {
  .preview-item-description {
    margin: auto 8px;
    width: 180px;
  }
}

/* ongoing */

#ongoing-root {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c0c0c0;
}

#ongoing-phone-mode-header {
  display: none;
}

#ongoing-desktop-mode-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  border-bottom: 1px solid #222;
}

#ongoing-desktop-mode-header h2 {
  margin: 0;
}

#ongoing-desktop-mode-header p {
  margin-left: auto;
  font-size: 12px;
  font-style: italic;
  color: #444;
}

@media (max-width: 600px) {
  #ongoing-desktop-mode-header {
    display: none;
  }
  #ongoing-phone-mode-header {
    display: block;
  }
}

#ongoing-result {
  align-self: flex-start;
}

#onging-wrapper {
  display: flex;
}

@media (max-width: 600px) {
  #onging-wrapper {
    flex-direction: column;
  }
  #ongoing-result {
    align-self: center;
  }
}
#onging-wrapper-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#yes-btn {
  color: white !important;
  background: #da621f !important;
  margin-bottom: 8px !important;
}

#no-btn {
  background: #133b6b !important;
  color: white !important;
}
